footer, main p {
font-family: "Times New Roman";
font-size: 12px;
color: #ffffff;
}
.textContainer {
  float: left;
  width:400px;
  margin-left: 30px;
  margin-top: 25px;
  padding:20px;
  height:10px;
}

 /* these set the three heading types I am using to a certain color and font */
h1, h2, h3 {
  font-family: 'Wallington', 'Dubiel', 'Komoda';
  color: #ffffff;
  text-align: left;
}
 h1 {
   font-size:60px;
}
 h2 {
   font-size:48px;
}
 h3 {
   font-size:36px;
}
/* this sets the list item tags to the specifications below */
 li {
  font-family: 'Wallington', 'Dubiel', 'Komoda', 'Times New Roman';
  font-size: 28px;
  color: #ffffff;
   text-align: left;
}
/* this sets the paragraph tags to the specifications below */
p {
    font-family: 'Wallington', 'Dubiel', 'Komoda', 'Times New Roman';
  color: #ffffff;
   text-align: left;
}
/* this sets the image to a certain size so it doesn't take up too much space*/
.imageContainer {
  float: left;
  width: 620px;
}

img {
  width: 100%;
}

body {
  background-color: black;
}
/*this sets the color for how a link will look when it usable, when you have clicked on it, 
when it is being clicked, and when you are about to click it*/

a:link {color: blue}

a:visited {color: purple}

a:hover {color: blue}

a:active {color: grey}
